@model IEnumerable<ECommerceProject.Models.MainCategory>

@{
	ViewData["Title"] = "Index";
}

<p class="pt-3">
	<a asp-action="Create" class="btn btn-primary">Add Main Category</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Subtitle)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Subtitle)
				</td>
				<td>
					<img src="@Url.Content(item.Image)" style="width:auto; height:50px;" />
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
