@model ECommerceProject.Models.Cart

@{
	ViewData["Title"] = "Shopping Cart";
}
@{
	decimal subtotal = 0;
	decimal grandTotal = 0;
	decimal discountTotal = 0;
	decimal amountForFreeDelivery = 0;
	int progressPercentage = 0;
	string formattedFreeDeliveryThreshold = "";
	string formattedAmountForFreeDelivery = "";

	if (Model != null && Model.CartItems != null && Model.CartItems.Any())
	{
		const decimal FreeDeliveryThreshold = 499;
		subtotal = Model.CartItems.Sum(item => item.Quantity * item.DiscountedPrice);
		grandTotal = Model.CartItems.Sum(item => item.Quantity * item.Price);
		discountTotal = grandTotal - subtotal;
		amountForFreeDelivery = FreeDeliveryThreshold - subtotal;
		progressPercentage = (int)((subtotal / FreeDeliveryThreshold) * 100);

		formattedFreeDeliveryThreshold = ((int)FreeDeliveryThreshold).ToString("C0");
		formattedAmountForFreeDelivery = ((int)amountForFreeDelivery).ToString("C0");
	}
}


<div class="content-page">
	<div class="content">
		<!-- Start Content-->
		<div class="container-fluid">
			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h3 class="mt-4">@ViewData["Title"]</h3>
					</div>
				</div>
			</div>
			<!-- end page title -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-8">
									<div class="table-responsive">
										<table class="table table-borderless table-nowrap table-centered mb-0">
											<thead class="table-light">
												<tr>
													<th>Product</th>
													<th>Price</th>
													<th>Quantity</th>
													<th>Total</th>
													<th style="width: 50px;"></th>
												</tr>
											</thead>
											<tbody>
												@foreach (var item in Model.CartItems)
												{
													<tr>
														<td>
															<img src="@Url.Content(item.Product.Image)" alt="ProductImg" title="contact-img" class="rounded me-3" height="64">
															<p class="m-0 d-inline-block align-middle font-16">
																<a asp-action="QuickView" asp-controller="Home" asp-route-id="@item.Product.ProductId" class="text-body">@item.Product.Name</a>
																<br>
																<small class="me-2"><b>Size:</b>@item.Size </small>
																@if (item.Product.IsAvailable)
																{
																	<small class="text-success fw-bold ms-2">In stock</small>
																}
																else
																{
																	<small class="text-danger fw-bold ms-2">Sold Out</small>
																}
															</p>
														</td>
														<td>
															@item.DiscountedPrice.ToString("C")
														</td>
														<td>
															@* <input type="number" min="1" value="5" class="form-control" placeholder="Qty" style="width: 90px;"> *@
															<input type="number" class="quantity" value="@item.Quantity" min="1" max="@item.Product.Stock" onchange="delayedUpdateQuantity(@item.CartItemId, this.value)" />
														</td>
														<td>
															@(((item.DiscountedPrice) * (item.Quantity)).ToString("C"))
														</td>
														<td>
															<form asp-action="RemoveFromCart" method="post" class="d-inline">
																<input type="hidden" name="cartItemId" value="@item.CartItemId" />
																<a href="#" onclick="this.closest('form').submit(); return false;" class="text-danger">
																	<i class="fa fa-trash text-danger" aria-hidden="true"></i>
																</a>
															</form>
														</td>
													</tr>
												}
											</tbody>
										</table>
									</div> <!-- end table-responsive-->
									<!-- action buttons-->
									<div class="row m-2">
										<div class="col-sm-6">
											<a asp-action="Index" asp-controller="Home" class="btn text-muted d-none d-sm-inline-block btn-link fw-semibold">
												<i class="fa fa-arrow-left" aria-hidden="true"></i> Continue Shopping
											</a>
										</div> <!-- end col -->
										<div class="col-sm-6">
											<div class="text-sm-end">
												<form asp-action="ClearCart" method="post">
													<button type="submit" class="btn btn-danger btn-sm">
														<i class="fa fa-trash-o text-white" aria-hidden="true"></i> Clear Cart
													</button>
												</form>
											</div>
										</div> <!-- end col -->
									</div> <!-- end row-->
								</div>
								<!-- end col -->
								<div class="col-lg-4">
									<div class="summary mb-2">
										<div class="progress-container">
											<div class="progress" style="height: 12px;">
												<div class="progress-bar" role="progressbar" style="width: @progressPercentage%; background-color: #28a745"></div>
											</div>
											<span class="progress-threshold">@formattedFreeDeliveryThreshold</span>
										</div>
										@if (subtotal < 499)
										{
											<div class="free-delivery-info">

												<p>Add items worth @formattedAmountForFreeDelivery for FREE Delivery</p>
												<a asp-action="Index" asp-controller="Home">View Products ›</a>
											</div>
										}
										else
										{
											<p>Your order is eligible for FREE Delivery.</p>
										}
										<div class="subtotal">
											<span class="subtotal-title">Subtotal (@Model.TotalQuantity items):</span>
											<span class="subtotal-amount">@subtotal.ToString("C")</span>
										</div>
										<div class="proceed-button">
											<a asp-action="Checkout" asp-controller="Order" class="btn btn-warning">Proceed to Buy</a>
										</div>
									</div>
									<div class="border p-3 mt-4 mt-lg-0 rounded">
										<h4 class="header-title mb-3">Order Summary</h4>
										<div class="table-responsive">
											<table class="table mb-0">
												<tbody>
													<tr>
														<td>Grand Total :</td>
														<td>@grandTotal.ToString("C")</td>
													</tr>
													<tr>
														<td>Discount : </td>
														<td>- @discountTotal.ToString("C")</td>
													</tr>
													<tr>
														<td>Shipping Charge :</td>
														@if (subtotal < 499)
														{
															<td>40</td>
														}
														else
														{
															<td>Free</td>
														}
													</tr>
													<tr>
														<td>Promotion Applied: </td>
														<td></td>
													</tr>
													<tr>
														<th>Total :</th>
														<th>@subtotal.ToString("C")</th>
													</tr>
												</tbody>
											</table>
										</div>
										<!-- end table-responsive -->
									</div>
									<div class="alert alert-warning mt-3" role="alert">
										Use coupon code <strong>HYPBM</strong> and get 10% discount !
									</div>
									<div class="input-group mt-3">
										<input type="text" class="form-control" placeholder="Coupon code" aria-label="Recipient's username">
										<button class="input-group-text btn-light" type="button">Apply</button>
									</div>
								</div> <!-- end col -->
							</div> <!-- end row -->
						</div> <!-- end card-body-->
					</div> <!-- end card-->
				</div> <!-- end col -->
			</div>
			<!-- end row -->
		</div> <!-- container -->
	</div> <!-- content -->
</div>
<style>
	.summary {
		flex: 0 0 300px;
		padding: 20px;
		border: 1px solid #ddd;
		border-radius: 5px;
	}

	p {
		margin: 0 0 0.5rem 0;
	}

	.price {
		font-size: 18px;
		font-weight: bold;
	}

	.discount-percentage {
		color: green;
	}

	.quantity {
		width: 60px;
		text-align: center;
	}

	.subtotal {
		margin-top: 20px;
		text-align: left;
	}

	.subtotal-title {
		font-size: 16px;
	}

	.subtotal-title {
		font-size: 16px;
	}

	.subtotal-amount {
		font-size: 16px;
		font-weight: bold;
	}

	.proceed-button {
		text-align: center;
		margin-top: 20px;
	}

		.proceed-button input {
			background-color: #f0c14b;
			border: 1px solid #a88734;
			padding: 8px 8px;
			font-size: 16px;
			cursor: pointer;
		}

	.a-icon-text-separator, .a-text-separator {
		display: inline-block;
		width: 1.5px;
		background-color: #d4d4d4;
		line-height: 0;
		height: 14px;
		vertical-align: middle;
	}

	.a-size-small {
		font-size: 14px !important;
		line-height: 16px !important;
	}

	.product-size-text {
		font-size: 14px !important;
		margin-top: 0;
		margin-bottom: 0.2rem;
	}

	media (max-width: 768px) {
		.shopping-cart

	{
		flex-direction: column;
	}

	.summary {
		order: -1;
		flex: 0 0 auto;
	}

	}

	.free-delivery-info {
		margin-bottom: 20px;
	}

	.progress-container {
		display: flex;
		align-items: center;
	}

	.progress {
		background-color: #c1c1c1;
		border-radius: 5px;
		overflow: hidden;
		height: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 80%;
	}

	.progress-bar {
		background-color: #28a745;
		height: 100%;
		width: 0;
		transition: width 0.6s ease;
	}

	.progress-threshold {
		margin-left: 10px;
		font-weight: bold;
		color: #000;
	}
</style>
<script>
	var delayTimer;

	function delayedUpdateQuantity(cartItemId, quantity) {
		// Clear any existing timeout
		clearTimeout(delayTimer);

		// Set a new timeout for 2 seconds
		delayTimer = setTimeout(function () {
			updateQuantity(cartItemId, quantity);
		}, 1500); // 2000 milliseconds = 2 seconds
	}

	function updateQuantity(cartItemId, quantity) {
		$.ajax({
			url: '@Url.Action("UpdateQuantity", "Cart")',
			type: 'POST',
			data: {
				cartItemId: cartItemId,
				quantity: quantity
			},
			success: function (response) {
				console.log(response);
				location.reload();
			},
			error: function (xhr, status, error) {
				console.error(error);
			}
		});
	}
</script>

